*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
.container {
    height: 300px;
    width: 300px;
    margin-left: 25%;
    margin-top: 100px;
}
.square{
    height: 50px;
    width: 50px;
    border: 1px solid black;
    float: left;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}

.yellow{
    background-color: yellow;
}
.green {
    background-color: lightgreen;
}
